body{
    background-image: url(./images/bg-stars.svg);

}

footer{
    background-image: url(./images/pattern-hills.svg);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#div-footer{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-left: 0%;
    width: 30%;
}


img{
    height: 30px;
    margin: 30px;
}
